<header>
  <input class="menu-btn" type="checkbox" id="menu-btn"/>
  <label class="menu-icon" for="menu-btn">
    <span class="navicon"></span>
  </label>
  {% include "partials/_nav.njk" %}
</header>